/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083B4C;
}

h1 {
    color: white;
}

.centered {
    text-align: center;
}

.basic {
    background-color: #1389B2;
}

.three {
    background-color: #0BD6A1;
}

.five {
    background-color: #FFD166;
}

.threeAndFive {
    background: #F0466F;
}

ul { 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px 10px;
}

li {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
}
